body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

body
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /*Le texte de la page sera blanc */
    background-image: url("teslamodels-800x410.jpg");
    background-repeat: repeat-x;
    background-position: center top;
    /*opacity: 0.6;*/
    align-items: center;

}

.price-by-day
{
    border-radius: 5px;
    border: 2px solid lightgrey;
    padding: 20px
}
.model
{
    border-radius: 5px;
    border: 2px solid lightgrey;
    padding: 20px
}
.price-by-km
{
    border-radius: 5px;
    border: 2px solid lightgrey;
    padding: 20px
}

#compute {background-color: white;
    color: black;
    border: 2px solid #e7e7e7; padding: 14px 40px;
    border-radius: 5px;
    tex-align : center;
    }
#compute:hover {
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #555555;
    transition-duration: 0.4s;}
